html { height: 100%;}
body {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
    background-color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}
#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 76px;
}

.post-title {
    color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
  font-weight: 600;
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #34679E;
}

a:hover,
a:focus {
    text-decoration: none;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    background-color: #34679E;
    border-bottom: 1px solid rgba(255,255,255,.3);

}

.navbar-brand {
    font-weight: 700;
}
.navbar-brand {
  height: 40px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 1em;
}

.navbar-brand h1{
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom ul.nav li a {
  font-size: 12px;
  letter-spacing: 1px;
    color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-custom ul.nav ul.dropdown-menu {
    border-radius: 0;
}

.navbar-custom ul.nav ul.dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
  border-bottom: none;
  color: #666;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
  padding: 10px 20px;
  color: #444;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  background: #fefefe;
	color: #34679E;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.signin-dropdown {
    min-width: 500px;
}

/* misc */
hr {
  margin-top: 10px;
}


/* ===========================
--- Elements
============================ */

.btn {
  border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.btn-link {
	color: #34679E !important;
}

.banner-social-buttons {
    margin-top: 0;
}


.upper{
    text-transform: uppercase;
}
.lower{
    text-transform: lowercase;
}
.captalize {
    text-transform: capitalize;
}
.tp-caption a.btn:hover {
	color: #34679E;
}

/* ===========================
--- Intro
============================ */

.intro {
    width:100%;
    position:relative;
  
    background: url(../images/bg1.jpg) no-repeat top center;
    padding: 5% 0 2% 0;
  }
  
  .intro .slogan {
    text-align: center;
  
  }
  
  .intro h2.slogan {
    color: #FFF;
    text-shadow: none;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-width: 0px;
    border-color: #000;
    border-style: none;
    text-shadow: -1px 0 1px #000;
  }
  
  .intro .slogan h4 {
    color: #fff;
    text-shadow: -1px 1px 1px #000;
  }

  .container {
      margin-top: 3%;
  }
  .navbar .container {
      margin-top: 0;
  }

  .panel-heading h3 {
      margin-bottom: 0;
  }

  .fa-tag {
      margin-right: 3px;
  }

  .tag-list {
      margin-bottom: 10px;
  }

  .content {
      max-width: 1000px;
  }

  .post-info {
      margin-bottom: 10px;
  }
  
/* ===========================
--- Footer
============================ */

footer {
    text-align: center;
    background-color: #35506e;
    padding: 10px 0;
    height: 76px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .container {
    margin-top: 0;
}

footer p {
    color: #f8f8f8;
    margin: 10px 0;
    height: 40px;
    line-height: 40px;
}

.social {
    margin-left: 0;
    padding-left: 0;
    margin: 10px 0;
    text-align: left;
}

.social li{
    display: inline-block;
    margin:0 !important;
    padding:0;
}


.social a{
    margin:0;
    padding:0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.user-social a{
    margin:0;
    padding:0;
    display: block;
    width: 21px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    color: #333;
}
.social a i{
    text-align: center;
    margin:0;
    padding:0;
}
.social-facebook a{color: #3b5998;}
.social-twitter a{color: #1DA1F2;}
.social-dribble a{color: #ea4c89;}
.social-deviantart a{color: #4dc47d;}
.social-google a{color: #dd4b39;}
.social-vimeo a{color: #1ab7ea;}
.social .social-axtras a{color: #DB2160; font-size: 2em; font-family: "Exo 2", Helvetica, sans-serif;}
.user-social .social-axtras a{color: #DB2160; font-family: "Exo 2", Helvetica, sans-serif;}
.social-linkedin a{color: #0077b5;}
.social-medium a{color: #00ab6c;}
.social-github a{color: #0c0c0c;}
.social-facebook a:hover{color: #899bc1;}
.social-twitter a:hover{color: #77c6f7;}
.social-dribble a:hover{color: #f293b8;}
.social-deviantart a:hover{color: #94dbb1;}
.social-google a:hover{color: #ea9388;}
.social-vimeo a:hover{color: #75d3f2;}
.social-linkedin a:hover{color: #66add2;}
.social-medium a:hover{color: #66cca6;}
.social-axtras a:hover{color: #e9799f;}
.social-github a:hover{color: #242424;}

a .post-content {
    color: #333;
}